@charset "UTF-8";
.pd-1 {
  padding: 10px;
}

.pdl-1 {
  padding-left: 10px;
}

.pdr-1 {
  padding-right: 10px;
}

.pdt-1 {
  padding-top: 10px;
}

.pdb-1 {
  padding-bottom: 10px;
}

.pdx-1 {
  padding: 1%;
}

.pdxl-1 {
  padding-left: 1%;
}

.pdxr-1 {
  padding-right: 1%;
}

.pdxt-1 {
  padding-top: 1%;
}

.pdxb-1 {
  padding-bottom: 1%;
}

.pd-2 {
  padding: 20px;
}

.pdl-2 {
  padding-left: 20px;
}

.pdr-2 {
  padding-right: 20px;
}

.pdt-2 {
  padding-top: 20px;
}

.pdb-2 {
  padding-bottom: 20px;
}

.pdx-2 {
  padding: 2%;
}

.pdxl-2 {
  padding-left: 2%;
}

.pdxr-2 {
  padding-right: 2%;
}

.pdxt-2 {
  padding-top: 2%;
}

.pdxb-2 {
  padding-bottom: 2%;
}

.pd-3 {
  padding: 30px;
}

.pdl-3 {
  padding-left: 30px;
}

.pdr-3 {
  padding-right: 30px;
}

.pdt-3 {
  padding-top: 30px;
}

.pdb-3 {
  padding-bottom: 30px;
}

.pdx-3 {
  padding: 3%;
}

.pdxl-3 {
  padding-left: 3%;
}

.pdxr-3 {
  padding-right: 3%;
}

.pdxt-3 {
  padding-top: 3%;
}

.pdxb-3 {
  padding-bottom: 3%;
}

.pd-4 {
  padding: 40px;
}

.pdl-4 {
  padding-left: 40px;
}

.pdr-4 {
  padding-right: 40px;
}

.pdt-4 {
  padding-top: 40px;
}

.pdb-4 {
  padding-bottom: 40px;
}

.pdx-4 {
  padding: 4%;
}

.pdxl-4 {
  padding-left: 4%;
}

.pdxr-4 {
  padding-right: 4%;
}

.pdxt-4 {
  padding-top: 4%;
}

.pdxb-4 {
  padding-bottom: 4%;
}

.pd-5 {
  padding: 50px;
}

.pdl-5 {
  padding-left: 50px;
}

.pdr-5 {
  padding-right: 50px;
}

.pdt-5 {
  padding-top: 50px;
}

.pdb-5 {
  padding-bottom: 50px;
}

.pdx-5 {
  padding: 5%;
}

.pdxl-5 {
  padding-left: 5%;
}

.pdxr-5 {
  padding-right: 5%;
}

.pdxt-5 {
  padding-top: 5%;
}

.pdxb-5 {
  padding-bottom: 5%;
}

.pd-6 {
  padding: 60px;
}

.pdl-6 {
  padding-left: 60px;
}

.pdr-6 {
  padding-right: 60px;
}

.pdt-6 {
  padding-top: 60px;
}

.pdb-6 {
  padding-bottom: 60px;
}

.pdx-6 {
  padding: 6%;
}

.pdxl-6 {
  padding-left: 6%;
}

.pdxr-6 {
  padding-right: 6%;
}

.pdxt-6 {
  padding-top: 6%;
}

.pdxb-6 {
  padding-bottom: 6%;
}

.pd-7 {
  padding: 70px;
}

.pdl-7 {
  padding-left: 70px;
}

.pdr-7 {
  padding-right: 70px;
}

.pdt-7 {
  padding-top: 70px;
}

.pdb-7 {
  padding-bottom: 70px;
}

.pdx-7 {
  padding: 7%;
}

.pdxl-7 {
  padding-left: 7%;
}

.pdxr-7 {
  padding-right: 7%;
}

.pdxt-7 {
  padding-top: 7%;
}

.pdxb-7 {
  padding-bottom: 7%;
}

.pd-8 {
  padding: 80px;
}

.pdl-8 {
  padding-left: 80px;
}

.pdr-8 {
  padding-right: 80px;
}

.pdt-8 {
  padding-top: 80px;
}

.pdb-8 {
  padding-bottom: 80px;
}

.pdx-8 {
  padding: 8%;
}

.pdxl-8 {
  padding-left: 8%;
}

.pdxr-8 {
  padding-right: 8%;
}

.pdxt-8 {
  padding-top: 8%;
}

.pdxb-8 {
  padding-bottom: 8%;
}

.pd-9 {
  padding: 90px;
}

.pdl-9 {
  padding-left: 90px;
}

.pdr-9 {
  padding-right: 90px;
}

.pdt-9 {
  padding-top: 90px;
}

.pdb-9 {
  padding-bottom: 90px;
}

.pdx-9 {
  padding: 9%;
}

.pdxl-9 {
  padding-left: 9%;
}

.pdxr-9 {
  padding-right: 9%;
}

.pdxt-9 {
  padding-top: 9%;
}

.pdxb-9 {
  padding-bottom: 9%;
}

.pd-10 {
  padding: 100px;
}

.pdl-10 {
  padding-left: 100px;
}

.pdr-10 {
  padding-right: 100px;
}

.pdt-10 {
  padding-top: 100px;
}

.pdb-10 {
  padding-bottom: 100px;
}

.pdx-10 {
  padding: 10%;
}

.pdxl-10 {
  padding-left: 10%;
}

.pdxr-10 {
  padding-right: 10%;
}

.pdxt-10 {
  padding-top: 10%;
}

.pdxb-10 {
  padding-bottom: 10%;
}

.pd-11 {
  padding: 110px;
}

.pdl-11 {
  padding-left: 110px;
}

.pdr-11 {
  padding-right: 110px;
}

.pdt-11 {
  padding-top: 110px;
}

.pdb-11 {
  padding-bottom: 110px;
}

.pdx-11 {
  padding: 11%;
}

.pdxl-11 {
  padding-left: 11%;
}

.pdxr-11 {
  padding-right: 11%;
}

.pdxt-11 {
  padding-top: 11%;
}

.pdxb-11 {
  padding-bottom: 11%;
}

.pd-12 {
  padding: 120px;
}

.pdl-12 {
  padding-left: 120px;
}

.pdr-12 {
  padding-right: 120px;
}

.pdt-12 {
  padding-top: 120px;
}

.pdb-12 {
  padding-bottom: 120px;
}

.pdx-12 {
  padding: 12%;
}

.pdxl-12 {
  padding-left: 12%;
}

.pdxr-12 {
  padding-right: 12%;
}

.pdxt-12 {
  padding-top: 12%;
}

.pdxb-12 {
  padding-bottom: 12%;
}

.pd-13 {
  padding: 130px;
}

.pdl-13 {
  padding-left: 130px;
}

.pdr-13 {
  padding-right: 130px;
}

.pdt-13 {
  padding-top: 130px;
}

.pdb-13 {
  padding-bottom: 130px;
}

.pdx-13 {
  padding: 13%;
}

.pdxl-13 {
  padding-left: 13%;
}

.pdxr-13 {
  padding-right: 13%;
}

.pdxt-13 {
  padding-top: 13%;
}

.pdxb-13 {
  padding-bottom: 13%;
}

.pd-14 {
  padding: 140px;
}

.pdl-14 {
  padding-left: 140px;
}

.pdr-14 {
  padding-right: 140px;
}

.pdt-14 {
  padding-top: 140px;
}

.pdb-14 {
  padding-bottom: 140px;
}

.pdx-14 {
  padding: 14%;
}

.pdxl-14 {
  padding-left: 14%;
}

.pdxr-14 {
  padding-right: 14%;
}

.pdxt-14 {
  padding-top: 14%;
}

.pdxb-14 {
  padding-bottom: 14%;
}

.pd-15 {
  padding: 150px;
}

.pdl-15 {
  padding-left: 150px;
}

.pdr-15 {
  padding-right: 150px;
}

.pdt-15 {
  padding-top: 150px;
}

.pdb-15 {
  padding-bottom: 150px;
}

.pdx-15 {
  padding: 15%;
}

.pdxl-15 {
  padding-left: 15%;
}

.pdxr-15 {
  padding-right: 15%;
}

.pdxt-15 {
  padding-top: 15%;
}

.pdxb-15 {
  padding-bottom: 15%;
}

.pd-16 {
  padding: 160px;
}

.pdl-16 {
  padding-left: 160px;
}

.pdr-16 {
  padding-right: 160px;
}

.pdt-16 {
  padding-top: 160px;
}

.pdb-16 {
  padding-bottom: 160px;
}

.pdx-16 {
  padding: 16%;
}

.pdxl-16 {
  padding-left: 16%;
}

.pdxr-16 {
  padding-right: 16%;
}

.pdxt-16 {
  padding-top: 16%;
}

.pdxb-16 {
  padding-bottom: 16%;
}

.pd-17 {
  padding: 170px;
}

.pdl-17 {
  padding-left: 170px;
}

.pdr-17 {
  padding-right: 170px;
}

.pdt-17 {
  padding-top: 170px;
}

.pdb-17 {
  padding-bottom: 170px;
}

.pdx-17 {
  padding: 17%;
}

.pdxl-17 {
  padding-left: 17%;
}

.pdxr-17 {
  padding-right: 17%;
}

.pdxt-17 {
  padding-top: 17%;
}

.pdxb-17 {
  padding-bottom: 17%;
}

.pd-18 {
  padding: 180px;
}

.pdl-18 {
  padding-left: 180px;
}

.pdr-18 {
  padding-right: 180px;
}

.pdt-18 {
  padding-top: 180px;
}

.pdb-18 {
  padding-bottom: 180px;
}

.pdx-18 {
  padding: 18%;
}

.pdxl-18 {
  padding-left: 18%;
}

.pdxr-18 {
  padding-right: 18%;
}

.pdxt-18 {
  padding-top: 18%;
}

.pdxb-18 {
  padding-bottom: 18%;
}

.pd-19 {
  padding: 190px;
}

.pdl-19 {
  padding-left: 190px;
}

.pdr-19 {
  padding-right: 190px;
}

.pdt-19 {
  padding-top: 190px;
}

.pdb-19 {
  padding-bottom: 190px;
}

.pdx-19 {
  padding: 19%;
}

.pdxl-19 {
  padding-left: 19%;
}

.pdxr-19 {
  padding-right: 19%;
}

.pdxt-19 {
  padding-top: 19%;
}

.pdxb-19 {
  padding-bottom: 19%;
}

.pd-20 {
  padding: 200px;
}

.pdl-20 {
  padding-left: 200px;
}

.pdr-20 {
  padding-right: 200px;
}

.pdt-20 {
  padding-top: 200px;
}

.pdb-20 {
  padding-bottom: 200px;
}

.pdx-20 {
  padding: 20%;
}

.pdxl-20 {
  padding-left: 20%;
}

.pdxr-20 {
  padding-right: 20%;
}

.pdxt-20 {
  padding-top: 20%;
}

.pdxb-20 {
  padding-bottom: 20%;
}

.pd-21 {
  padding: 210px;
}

.pdl-21 {
  padding-left: 210px;
}

.pdr-21 {
  padding-right: 210px;
}

.pdt-21 {
  padding-top: 210px;
}

.pdb-21 {
  padding-bottom: 210px;
}

.pdx-21 {
  padding: 21%;
}

.pdxl-21 {
  padding-left: 21%;
}

.pdxr-21 {
  padding-right: 21%;
}

.pdxt-21 {
  padding-top: 21%;
}

.pdxb-21 {
  padding-bottom: 21%;
}

.pd-22 {
  padding: 220px;
}

.pdl-22 {
  padding-left: 220px;
}

.pdr-22 {
  padding-right: 220px;
}

.pdt-22 {
  padding-top: 220px;
}

.pdb-22 {
  padding-bottom: 220px;
}

.pdx-22 {
  padding: 22%;
}

.pdxl-22 {
  padding-left: 22%;
}

.pdxr-22 {
  padding-right: 22%;
}

.pdxt-22 {
  padding-top: 22%;
}

.pdxb-22 {
  padding-bottom: 22%;
}

.pd-23 {
  padding: 230px;
}

.pdl-23 {
  padding-left: 230px;
}

.pdr-23 {
  padding-right: 230px;
}

.pdt-23 {
  padding-top: 230px;
}

.pdb-23 {
  padding-bottom: 230px;
}

.pdx-23 {
  padding: 23%;
}

.pdxl-23 {
  padding-left: 23%;
}

.pdxr-23 {
  padding-right: 23%;
}

.pdxt-23 {
  padding-top: 23%;
}

.pdxb-23 {
  padding-bottom: 23%;
}

.pd-24 {
  padding: 240px;
}

.pdl-24 {
  padding-left: 240px;
}

.pdr-24 {
  padding-right: 240px;
}

.pdt-24 {
  padding-top: 240px;
}

.pdb-24 {
  padding-bottom: 240px;
}

.pdx-24 {
  padding: 24%;
}

.pdxl-24 {
  padding-left: 24%;
}

.pdxr-24 {
  padding-right: 24%;
}

.pdxt-24 {
  padding-top: 24%;
}

.pdxb-24 {
  padding-bottom: 24%;
}

.pd-25 {
  padding: 250px;
}

.pdl-25 {
  padding-left: 250px;
}

.pdr-25 {
  padding-right: 250px;
}

.pdt-25 {
  padding-top: 250px;
}

.pdb-25 {
  padding-bottom: 250px;
}

.pdx-25 {
  padding: 25%;
}

.pdxl-25 {
  padding-left: 25%;
}

.pdxr-25 {
  padding-right: 25%;
}

.pdxt-25 {
  padding-top: 25%;
}

.pdxb-25 {
  padding-bottom: 25%;
}

.pd-26 {
  padding: 260px;
}

.pdl-26 {
  padding-left: 260px;
}

.pdr-26 {
  padding-right: 260px;
}

.pdt-26 {
  padding-top: 260px;
}

.pdb-26 {
  padding-bottom: 260px;
}

.pdx-26 {
  padding: 26%;
}

.pdxl-26 {
  padding-left: 26%;
}

.pdxr-26 {
  padding-right: 26%;
}

.pdxt-26 {
  padding-top: 26%;
}

.pdxb-26 {
  padding-bottom: 26%;
}

.pd-27 {
  padding: 270px;
}

.pdl-27 {
  padding-left: 270px;
}

.pdr-27 {
  padding-right: 270px;
}

.pdt-27 {
  padding-top: 270px;
}

.pdb-27 {
  padding-bottom: 270px;
}

.pdx-27 {
  padding: 27%;
}

.pdxl-27 {
  padding-left: 27%;
}

.pdxr-27 {
  padding-right: 27%;
}

.pdxt-27 {
  padding-top: 27%;
}

.pdxb-27 {
  padding-bottom: 27%;
}

.pd-28 {
  padding: 280px;
}

.pdl-28 {
  padding-left: 280px;
}

.pdr-28 {
  padding-right: 280px;
}

.pdt-28 {
  padding-top: 280px;
}

.pdb-28 {
  padding-bottom: 280px;
}

.pdx-28 {
  padding: 28%;
}

.pdxl-28 {
  padding-left: 28%;
}

.pdxr-28 {
  padding-right: 28%;
}

.pdxt-28 {
  padding-top: 28%;
}

.pdxb-28 {
  padding-bottom: 28%;
}

.pd-29 {
  padding: 290px;
}

.pdl-29 {
  padding-left: 290px;
}

.pdr-29 {
  padding-right: 290px;
}

.pdt-29 {
  padding-top: 290px;
}

.pdb-29 {
  padding-bottom: 290px;
}

.pdx-29 {
  padding: 29%;
}

.pdxl-29 {
  padding-left: 29%;
}

.pdxr-29 {
  padding-right: 29%;
}

.pdxt-29 {
  padding-top: 29%;
}

.pdxb-29 {
  padding-bottom: 29%;
}

.pd-30 {
  padding: 300px;
}

.pdl-30 {
  padding-left: 300px;
}

.pdr-30 {
  padding-right: 300px;
}

.pdt-30 {
  padding-top: 300px;
}

.pdb-30 {
  padding-bottom: 300px;
}

.pdx-30 {
  padding: 30%;
}

.pdxl-30 {
  padding-left: 30%;
}

.pdxr-30 {
  padding-right: 30%;
}

.pdxt-30 {
  padding-top: 30%;
}

.pdxb-30 {
  padding-bottom: 30%;
}

.pd-31 {
  padding: 310px;
}

.pdl-31 {
  padding-left: 310px;
}

.pdr-31 {
  padding-right: 310px;
}

.pdt-31 {
  padding-top: 310px;
}

.pdb-31 {
  padding-bottom: 310px;
}

.pdx-31 {
  padding: 31%;
}

.pdxl-31 {
  padding-left: 31%;
}

.pdxr-31 {
  padding-right: 31%;
}

.pdxt-31 {
  padding-top: 31%;
}

.pdxb-31 {
  padding-bottom: 31%;
}

.pd-32 {
  padding: 320px;
}

.pdl-32 {
  padding-left: 320px;
}

.pdr-32 {
  padding-right: 320px;
}

.pdt-32 {
  padding-top: 320px;
}

.pdb-32 {
  padding-bottom: 320px;
}

.pdx-32 {
  padding: 32%;
}

.pdxl-32 {
  padding-left: 32%;
}

.pdxr-32 {
  padding-right: 32%;
}

.pdxt-32 {
  padding-top: 32%;
}

.pdxb-32 {
  padding-bottom: 32%;
}

.pd-33 {
  padding: 330px;
}

.pdl-33 {
  padding-left: 330px;
}

.pdr-33 {
  padding-right: 330px;
}

.pdt-33 {
  padding-top: 330px;
}

.pdb-33 {
  padding-bottom: 330px;
}

.pdx-33 {
  padding: 33%;
}

.pdxl-33 {
  padding-left: 33%;
}

.pdxr-33 {
  padding-right: 33%;
}

.pdxt-33 {
  padding-top: 33%;
}

.pdxb-33 {
  padding-bottom: 33%;
}

.pd-34 {
  padding: 340px;
}

.pdl-34 {
  padding-left: 340px;
}

.pdr-34 {
  padding-right: 340px;
}

.pdt-34 {
  padding-top: 340px;
}

.pdb-34 {
  padding-bottom: 340px;
}

.pdx-34 {
  padding: 34%;
}

.pdxl-34 {
  padding-left: 34%;
}

.pdxr-34 {
  padding-right: 34%;
}

.pdxt-34 {
  padding-top: 34%;
}

.pdxb-34 {
  padding-bottom: 34%;
}

.pd-35 {
  padding: 350px;
}

.pdl-35 {
  padding-left: 350px;
}

.pdr-35 {
  padding-right: 350px;
}

.pdt-35 {
  padding-top: 350px;
}

.pdb-35 {
  padding-bottom: 350px;
}

.pdx-35 {
  padding: 35%;
}

.pdxl-35 {
  padding-left: 35%;
}

.pdxr-35 {
  padding-right: 35%;
}

.pdxt-35 {
  padding-top: 35%;
}

.pdxb-35 {
  padding-bottom: 35%;
}

.pd-36 {
  padding: 360px;
}

.pdl-36 {
  padding-left: 360px;
}

.pdr-36 {
  padding-right: 360px;
}

.pdt-36 {
  padding-top: 360px;
}

.pdb-36 {
  padding-bottom: 360px;
}

.pdx-36 {
  padding: 36%;
}

.pdxl-36 {
  padding-left: 36%;
}

.pdxr-36 {
  padding-right: 36%;
}

.pdxt-36 {
  padding-top: 36%;
}

.pdxb-36 {
  padding-bottom: 36%;
}

.pd-37 {
  padding: 370px;
}

.pdl-37 {
  padding-left: 370px;
}

.pdr-37 {
  padding-right: 370px;
}

.pdt-37 {
  padding-top: 370px;
}

.pdb-37 {
  padding-bottom: 370px;
}

.pdx-37 {
  padding: 37%;
}

.pdxl-37 {
  padding-left: 37%;
}

.pdxr-37 {
  padding-right: 37%;
}

.pdxt-37 {
  padding-top: 37%;
}

.pdxb-37 {
  padding-bottom: 37%;
}

.pd-38 {
  padding: 380px;
}

.pdl-38 {
  padding-left: 380px;
}

.pdr-38 {
  padding-right: 380px;
}

.pdt-38 {
  padding-top: 380px;
}

.pdb-38 {
  padding-bottom: 380px;
}

.pdx-38 {
  padding: 38%;
}

.pdxl-38 {
  padding-left: 38%;
}

.pdxr-38 {
  padding-right: 38%;
}

.pdxt-38 {
  padding-top: 38%;
}

.pdxb-38 {
  padding-bottom: 38%;
}

.pd-39 {
  padding: 390px;
}

.pdl-39 {
  padding-left: 390px;
}

.pdr-39 {
  padding-right: 390px;
}

.pdt-39 {
  padding-top: 390px;
}

.pdb-39 {
  padding-bottom: 390px;
}

.pdx-39 {
  padding: 39%;
}

.pdxl-39 {
  padding-left: 39%;
}

.pdxr-39 {
  padding-right: 39%;
}

.pdxt-39 {
  padding-top: 39%;
}

.pdxb-39 {
  padding-bottom: 39%;
}

.pd-40 {
  padding: 400px;
}

.pdl-40 {
  padding-left: 400px;
}

.pdr-40 {
  padding-right: 400px;
}

.pdt-40 {
  padding-top: 400px;
}

.pdb-40 {
  padding-bottom: 400px;
}

.pdx-40 {
  padding: 40%;
}

.pdxl-40 {
  padding-left: 40%;
}

.pdxr-40 {
  padding-right: 40%;
}

.pdxt-40 {
  padding-top: 40%;
}

.pdxb-40 {
  padding-bottom: 40%;
}

.pd-41 {
  padding: 410px;
}

.pdl-41 {
  padding-left: 410px;
}

.pdr-41 {
  padding-right: 410px;
}

.pdt-41 {
  padding-top: 410px;
}

.pdb-41 {
  padding-bottom: 410px;
}

.pdx-41 {
  padding: 41%;
}

.pdxl-41 {
  padding-left: 41%;
}

.pdxr-41 {
  padding-right: 41%;
}

.pdxt-41 {
  padding-top: 41%;
}

.pdxb-41 {
  padding-bottom: 41%;
}

.pd-42 {
  padding: 420px;
}

.pdl-42 {
  padding-left: 420px;
}

.pdr-42 {
  padding-right: 420px;
}

.pdt-42 {
  padding-top: 420px;
}

.pdb-42 {
  padding-bottom: 420px;
}

.pdx-42 {
  padding: 42%;
}

.pdxl-42 {
  padding-left: 42%;
}

.pdxr-42 {
  padding-right: 42%;
}

.pdxt-42 {
  padding-top: 42%;
}

.pdxb-42 {
  padding-bottom: 42%;
}

.pd-43 {
  padding: 430px;
}

.pdl-43 {
  padding-left: 430px;
}

.pdr-43 {
  padding-right: 430px;
}

.pdt-43 {
  padding-top: 430px;
}

.pdb-43 {
  padding-bottom: 430px;
}

.pdx-43 {
  padding: 43%;
}

.pdxl-43 {
  padding-left: 43%;
}

.pdxr-43 {
  padding-right: 43%;
}

.pdxt-43 {
  padding-top: 43%;
}

.pdxb-43 {
  padding-bottom: 43%;
}

.pd-44 {
  padding: 440px;
}

.pdl-44 {
  padding-left: 440px;
}

.pdr-44 {
  padding-right: 440px;
}

.pdt-44 {
  padding-top: 440px;
}

.pdb-44 {
  padding-bottom: 440px;
}

.pdx-44 {
  padding: 44%;
}

.pdxl-44 {
  padding-left: 44%;
}

.pdxr-44 {
  padding-right: 44%;
}

.pdxt-44 {
  padding-top: 44%;
}

.pdxb-44 {
  padding-bottom: 44%;
}

.pd-45 {
  padding: 450px;
}

.pdl-45 {
  padding-left: 450px;
}

.pdr-45 {
  padding-right: 450px;
}

.pdt-45 {
  padding-top: 450px;
}

.pdb-45 {
  padding-bottom: 450px;
}

.pdx-45 {
  padding: 45%;
}

.pdxl-45 {
  padding-left: 45%;
}

.pdxr-45 {
  padding-right: 45%;
}

.pdxt-45 {
  padding-top: 45%;
}

.pdxb-45 {
  padding-bottom: 45%;
}

.pd-46 {
  padding: 460px;
}

.pdl-46 {
  padding-left: 460px;
}

.pdr-46 {
  padding-right: 460px;
}

.pdt-46 {
  padding-top: 460px;
}

.pdb-46 {
  padding-bottom: 460px;
}

.pdx-46 {
  padding: 46%;
}

.pdxl-46 {
  padding-left: 46%;
}

.pdxr-46 {
  padding-right: 46%;
}

.pdxt-46 {
  padding-top: 46%;
}

.pdxb-46 {
  padding-bottom: 46%;
}

.pd-47 {
  padding: 470px;
}

.pdl-47 {
  padding-left: 470px;
}

.pdr-47 {
  padding-right: 470px;
}

.pdt-47 {
  padding-top: 470px;
}

.pdb-47 {
  padding-bottom: 470px;
}

.pdx-47 {
  padding: 47%;
}

.pdxl-47 {
  padding-left: 47%;
}

.pdxr-47 {
  padding-right: 47%;
}

.pdxt-47 {
  padding-top: 47%;
}

.pdxb-47 {
  padding-bottom: 47%;
}

.pd-48 {
  padding: 480px;
}

.pdl-48 {
  padding-left: 480px;
}

.pdr-48 {
  padding-right: 480px;
}

.pdt-48 {
  padding-top: 480px;
}

.pdb-48 {
  padding-bottom: 480px;
}

.pdx-48 {
  padding: 48%;
}

.pdxl-48 {
  padding-left: 48%;
}

.pdxr-48 {
  padding-right: 48%;
}

.pdxt-48 {
  padding-top: 48%;
}

.pdxb-48 {
  padding-bottom: 48%;
}

.pd-49 {
  padding: 490px;
}

.pdl-49 {
  padding-left: 490px;
}

.pdr-49 {
  padding-right: 490px;
}

.pdt-49 {
  padding-top: 490px;
}

.pdb-49 {
  padding-bottom: 490px;
}

.pdx-49 {
  padding: 49%;
}

.pdxl-49 {
  padding-left: 49%;
}

.pdxr-49 {
  padding-right: 49%;
}

.pdxt-49 {
  padding-top: 49%;
}

.pdxb-49 {
  padding-bottom: 49%;
}

.pd-50 {
  padding: 500px;
}

.pdl-50 {
  padding-left: 500px;
}

.pdr-50 {
  padding-right: 500px;
}

.pdt-50 {
  padding-top: 500px;
}

.pdb-50 {
  padding-bottom: 500px;
}

.pdx-50 {
  padding: 50%;
}

.pdxl-50 {
  padding-left: 50%;
}

.pdxr-50 {
  padding-right: 50%;
}

.pdxt-50 {
  padding-top: 50%;
}

.pdxb-50 {
  padding-bottom: 50%;
}

.mg-1 {
  margin: 10px;
}

.mgl-1 {
  margin-left: 10px;
}

.mgr-1 {
  margin-right: 10px;
}

.mgt-1 {
  margin-top: 10px;
}

.mgb-1 {
  margin-bottom: 10px;
}

.mgx-1 {
  margin: 1%;
}

.mgxl-1 {
  margin-left: 1%;
}

.mgxr-1 {
  margin-right: 1%;
}

.mgxt-1 {
  margin-top: 1%;
}

.mgxb-1 {
  margin-bottom: 1%;
}

.mg-2 {
  margin: 20px;
}

.mgl-2 {
  margin-left: 20px;
}

.mgr-2 {
  margin-right: 20px;
}

.mgt-2 {
  margin-top: 20px;
}

.mgb-2 {
  margin-bottom: 20px;
}

.mgx-2 {
  margin: 2%;
}

.mgxl-2 {
  margin-left: 2%;
}

.mgxr-2 {
  margin-right: 2%;
}

.mgxt-2 {
  margin-top: 2%;
}

.mgxb-2 {
  margin-bottom: 2%;
}

.mg-3 {
  margin: 30px;
}

.mgl-3 {
  margin-left: 30px;
}

.mgr-3 {
  margin-right: 30px;
}

.mgt-3 {
  margin-top: 30px;
}

.mgb-3 {
  margin-bottom: 30px;
}

.mgx-3 {
  margin: 3%;
}

.mgxl-3 {
  margin-left: 3%;
}

.mgxr-3 {
  margin-right: 3%;
}

.mgxt-3 {
  margin-top: 3%;
}

.mgxb-3 {
  margin-bottom: 3%;
}

.mg-4 {
  margin: 40px;
}

.mgl-4 {
  margin-left: 40px;
}

.mgr-4 {
  margin-right: 40px;
}

.mgt-4 {
  margin-top: 40px;
}

.mgb-4 {
  margin-bottom: 40px;
}

.mgx-4 {
  margin: 4%;
}

.mgxl-4 {
  margin-left: 4%;
}

.mgxr-4 {
  margin-right: 4%;
}

.mgxt-4 {
  margin-top: 4%;
}

.mgxb-4 {
  margin-bottom: 4%;
}

.mg-5 {
  margin: 50px;
}

.mgl-5 {
  margin-left: 50px;
}

.mgr-5 {
  margin-right: 50px;
}

.mgt-5 {
  margin-top: 50px;
}

.mgb-5 {
  margin-bottom: 50px;
}

.mgx-5 {
  margin: 5%;
}

.mgxl-5 {
  margin-left: 5%;
}

.mgxr-5 {
  margin-right: 5%;
}

.mgxt-5 {
  margin-top: 5%;
}

.mgxb-5 {
  margin-bottom: 5%;
}

.mg-6 {
  margin: 60px;
}

.mgl-6 {
  margin-left: 60px;
}

.mgr-6 {
  margin-right: 60px;
}

.mgt-6 {
  margin-top: 60px;
}

.mgb-6 {
  margin-bottom: 60px;
}

.mgx-6 {
  margin: 6%;
}

.mgxl-6 {
  margin-left: 6%;
}

.mgxr-6 {
  margin-right: 6%;
}

.mgxt-6 {
  margin-top: 6%;
}

.mgxb-6 {
  margin-bottom: 6%;
}

.mg-7 {
  margin: 70px;
}

.mgl-7 {
  margin-left: 70px;
}

.mgr-7 {
  margin-right: 70px;
}

.mgt-7 {
  margin-top: 70px;
}

.mgb-7 {
  margin-bottom: 70px;
}

.mgx-7 {
  margin: 7%;
}

.mgxl-7 {
  margin-left: 7%;
}

.mgxr-7 {
  margin-right: 7%;
}

.mgxt-7 {
  margin-top: 7%;
}

.mgxb-7 {
  margin-bottom: 7%;
}

.mg-8 {
  margin: 80px;
}

.mgl-8 {
  margin-left: 80px;
}

.mgr-8 {
  margin-right: 80px;
}

.mgt-8 {
  margin-top: 80px;
}

.mgb-8 {
  margin-bottom: 80px;
}

.mgx-8 {
  margin: 8%;
}

.mgxl-8 {
  margin-left: 8%;
}

.mgxr-8 {
  margin-right: 8%;
}

.mgxt-8 {
  margin-top: 8%;
}

.mgxb-8 {
  margin-bottom: 8%;
}

.mg-9 {
  margin: 90px;
}

.mgl-9 {
  margin-left: 90px;
}

.mgr-9 {
  margin-right: 90px;
}

.mgt-9 {
  margin-top: 90px;
}

.mgb-9 {
  margin-bottom: 90px;
}

.mgx-9 {
  margin: 9%;
}

.mgxl-9 {
  margin-left: 9%;
}

.mgxr-9 {
  margin-right: 9%;
}

.mgxt-9 {
  margin-top: 9%;
}

.mgxb-9 {
  margin-bottom: 9%;
}

.mg-10 {
  margin: 100px;
}

.mgl-10 {
  margin-left: 100px;
}

.mgr-10 {
  margin-right: 100px;
}

.mgt-10 {
  margin-top: 100px;
}

.mgb-10 {
  margin-bottom: 100px;
}

.mgx-10 {
  margin: 10%;
}

.mgxl-10 {
  margin-left: 10%;
}

.mgxr-10 {
  margin-right: 10%;
}

.mgxt-10 {
  margin-top: 10%;
}

.mgxb-10 {
  margin-bottom: 10%;
}

.mg-11 {
  margin: 110px;
}

.mgl-11 {
  margin-left: 110px;
}

.mgr-11 {
  margin-right: 110px;
}

.mgt-11 {
  margin-top: 110px;
}

.mgb-11 {
  margin-bottom: 110px;
}

.mgx-11 {
  margin: 11%;
}

.mgxl-11 {
  margin-left: 11%;
}

.mgxr-11 {
  margin-right: 11%;
}

.mgxt-11 {
  margin-top: 11%;
}

.mgxb-11 {
  margin-bottom: 11%;
}

.mg-12 {
  margin: 120px;
}

.mgl-12 {
  margin-left: 120px;
}

.mgr-12 {
  margin-right: 120px;
}

.mgt-12 {
  margin-top: 120px;
}

.mgb-12 {
  margin-bottom: 120px;
}

.mgx-12 {
  margin: 12%;
}

.mgxl-12 {
  margin-left: 12%;
}

.mgxr-12 {
  margin-right: 12%;
}

.mgxt-12 {
  margin-top: 12%;
}

.mgxb-12 {
  margin-bottom: 12%;
}

.mg-13 {
  margin: 130px;
}

.mgl-13 {
  margin-left: 130px;
}

.mgr-13 {
  margin-right: 130px;
}

.mgt-13 {
  margin-top: 130px;
}

.mgb-13 {
  margin-bottom: 130px;
}

.mgx-13 {
  margin: 13%;
}

.mgxl-13 {
  margin-left: 13%;
}

.mgxr-13 {
  margin-right: 13%;
}

.mgxt-13 {
  margin-top: 13%;
}

.mgxb-13 {
  margin-bottom: 13%;
}

.mg-14 {
  margin: 140px;
}

.mgl-14 {
  margin-left: 140px;
}

.mgr-14 {
  margin-right: 140px;
}

.mgt-14 {
  margin-top: 140px;
}

.mgb-14 {
  margin-bottom: 140px;
}

.mgx-14 {
  margin: 14%;
}

.mgxl-14 {
  margin-left: 14%;
}

.mgxr-14 {
  margin-right: 14%;
}

.mgxt-14 {
  margin-top: 14%;
}

.mgxb-14 {
  margin-bottom: 14%;
}

.mg-15 {
  margin: 150px;
}

.mgl-15 {
  margin-left: 150px;
}

.mgr-15 {
  margin-right: 150px;
}

.mgt-15 {
  margin-top: 150px;
}

.mgb-15 {
  margin-bottom: 150px;
}

.mgx-15 {
  margin: 15%;
}

.mgxl-15 {
  margin-left: 15%;
}

.mgxr-15 {
  margin-right: 15%;
}

.mgxt-15 {
  margin-top: 15%;
}

.mgxb-15 {
  margin-bottom: 15%;
}

.mg-16 {
  margin: 160px;
}

.mgl-16 {
  margin-left: 160px;
}

.mgr-16 {
  margin-right: 160px;
}

.mgt-16 {
  margin-top: 160px;
}

.mgb-16 {
  margin-bottom: 160px;
}

.mgx-16 {
  margin: 16%;
}

.mgxl-16 {
  margin-left: 16%;
}

.mgxr-16 {
  margin-right: 16%;
}

.mgxt-16 {
  margin-top: 16%;
}

.mgxb-16 {
  margin-bottom: 16%;
}

.mg-17 {
  margin: 170px;
}

.mgl-17 {
  margin-left: 170px;
}

.mgr-17 {
  margin-right: 170px;
}

.mgt-17 {
  margin-top: 170px;
}

.mgb-17 {
  margin-bottom: 170px;
}

.mgx-17 {
  margin: 17%;
}

.mgxl-17 {
  margin-left: 17%;
}

.mgxr-17 {
  margin-right: 17%;
}

.mgxt-17 {
  margin-top: 17%;
}

.mgxb-17 {
  margin-bottom: 17%;
}

.mg-18 {
  margin: 180px;
}

.mgl-18 {
  margin-left: 180px;
}

.mgr-18 {
  margin-right: 180px;
}

.mgt-18 {
  margin-top: 180px;
}

.mgb-18 {
  margin-bottom: 180px;
}

.mgx-18 {
  margin: 18%;
}

.mgxl-18 {
  margin-left: 18%;
}

.mgxr-18 {
  margin-right: 18%;
}

.mgxt-18 {
  margin-top: 18%;
}

.mgxb-18 {
  margin-bottom: 18%;
}

.mg-19 {
  margin: 190px;
}

.mgl-19 {
  margin-left: 190px;
}

.mgr-19 {
  margin-right: 190px;
}

.mgt-19 {
  margin-top: 190px;
}

.mgb-19 {
  margin-bottom: 190px;
}

.mgx-19 {
  margin: 19%;
}

.mgxl-19 {
  margin-left: 19%;
}

.mgxr-19 {
  margin-right: 19%;
}

.mgxt-19 {
  margin-top: 19%;
}

.mgxb-19 {
  margin-bottom: 19%;
}

.mg-20 {
  margin: 200px;
}

.mgl-20 {
  margin-left: 200px;
}

.mgr-20 {
  margin-right: 200px;
}

.mgt-20 {
  margin-top: 200px;
}

.mgb-20 {
  margin-bottom: 200px;
}

.mgx-20 {
  margin: 20%;
}

.mgxl-20 {
  margin-left: 20%;
}

.mgxr-20 {
  margin-right: 20%;
}

.mgxt-20 {
  margin-top: 20%;
}

.mgxb-20 {
  margin-bottom: 20%;
}

.mg-21 {
  margin: 210px;
}

.mgl-21 {
  margin-left: 210px;
}

.mgr-21 {
  margin-right: 210px;
}

.mgt-21 {
  margin-top: 210px;
}

.mgb-21 {
  margin-bottom: 210px;
}

.mgx-21 {
  margin: 21%;
}

.mgxl-21 {
  margin-left: 21%;
}

.mgxr-21 {
  margin-right: 21%;
}

.mgxt-21 {
  margin-top: 21%;
}

.mgxb-21 {
  margin-bottom: 21%;
}

.mg-22 {
  margin: 220px;
}

.mgl-22 {
  margin-left: 220px;
}

.mgr-22 {
  margin-right: 220px;
}

.mgt-22 {
  margin-top: 220px;
}

.mgb-22 {
  margin-bottom: 220px;
}

.mgx-22 {
  margin: 22%;
}

.mgxl-22 {
  margin-left: 22%;
}

.mgxr-22 {
  margin-right: 22%;
}

.mgxt-22 {
  margin-top: 22%;
}

.mgxb-22 {
  margin-bottom: 22%;
}

.mg-23 {
  margin: 230px;
}

.mgl-23 {
  margin-left: 230px;
}

.mgr-23 {
  margin-right: 230px;
}

.mgt-23 {
  margin-top: 230px;
}

.mgb-23 {
  margin-bottom: 230px;
}

.mgx-23 {
  margin: 23%;
}

.mgxl-23 {
  margin-left: 23%;
}

.mgxr-23 {
  margin-right: 23%;
}

.mgxt-23 {
  margin-top: 23%;
}

.mgxb-23 {
  margin-bottom: 23%;
}

.mg-24 {
  margin: 240px;
}

.mgl-24 {
  margin-left: 240px;
}

.mgr-24 {
  margin-right: 240px;
}

.mgt-24 {
  margin-top: 240px;
}

.mgb-24 {
  margin-bottom: 240px;
}

.mgx-24 {
  margin: 24%;
}

.mgxl-24 {
  margin-left: 24%;
}

.mgxr-24 {
  margin-right: 24%;
}

.mgxt-24 {
  margin-top: 24%;
}

.mgxb-24 {
  margin-bottom: 24%;
}

.mg-25 {
  margin: 250px;
}

.mgl-25 {
  margin-left: 250px;
}

.mgr-25 {
  margin-right: 250px;
}

.mgt-25 {
  margin-top: 250px;
}

.mgb-25 {
  margin-bottom: 250px;
}

.mgx-25 {
  margin: 25%;
}

.mgxl-25 {
  margin-left: 25%;
}

.mgxr-25 {
  margin-right: 25%;
}

.mgxt-25 {
  margin-top: 25%;
}

.mgxb-25 {
  margin-bottom: 25%;
}

.mg-26 {
  margin: 260px;
}

.mgl-26 {
  margin-left: 260px;
}

.mgr-26 {
  margin-right: 260px;
}

.mgt-26 {
  margin-top: 260px;
}

.mgb-26 {
  margin-bottom: 260px;
}

.mgx-26 {
  margin: 26%;
}

.mgxl-26 {
  margin-left: 26%;
}

.mgxr-26 {
  margin-right: 26%;
}

.mgxt-26 {
  margin-top: 26%;
}

.mgxb-26 {
  margin-bottom: 26%;
}

.mg-27 {
  margin: 270px;
}

.mgl-27 {
  margin-left: 270px;
}

.mgr-27 {
  margin-right: 270px;
}

.mgt-27 {
  margin-top: 270px;
}

.mgb-27 {
  margin-bottom: 270px;
}

.mgx-27 {
  margin: 27%;
}

.mgxl-27 {
  margin-left: 27%;
}

.mgxr-27 {
  margin-right: 27%;
}

.mgxt-27 {
  margin-top: 27%;
}

.mgxb-27 {
  margin-bottom: 27%;
}

.mg-28 {
  margin: 280px;
}

.mgl-28 {
  margin-left: 280px;
}

.mgr-28 {
  margin-right: 280px;
}

.mgt-28 {
  margin-top: 280px;
}

.mgb-28 {
  margin-bottom: 280px;
}

.mgx-28 {
  margin: 28%;
}

.mgxl-28 {
  margin-left: 28%;
}

.mgxr-28 {
  margin-right: 28%;
}

.mgxt-28 {
  margin-top: 28%;
}

.mgxb-28 {
  margin-bottom: 28%;
}

.mg-29 {
  margin: 290px;
}

.mgl-29 {
  margin-left: 290px;
}

.mgr-29 {
  margin-right: 290px;
}

.mgt-29 {
  margin-top: 290px;
}

.mgb-29 {
  margin-bottom: 290px;
}

.mgx-29 {
  margin: 29%;
}

.mgxl-29 {
  margin-left: 29%;
}

.mgxr-29 {
  margin-right: 29%;
}

.mgxt-29 {
  margin-top: 29%;
}

.mgxb-29 {
  margin-bottom: 29%;
}

.mg-30 {
  margin: 300px;
}

.mgl-30 {
  margin-left: 300px;
}

.mgr-30 {
  margin-right: 300px;
}

.mgt-30 {
  margin-top: 300px;
}

.mgb-30 {
  margin-bottom: 300px;
}

.mgx-30 {
  margin: 30%;
}

.mgxl-30 {
  margin-left: 30%;
}

.mgxr-30 {
  margin-right: 30%;
}

.mgxt-30 {
  margin-top: 30%;
}

.mgxb-30 {
  margin-bottom: 30%;
}

.mg-31 {
  margin: 310px;
}

.mgl-31 {
  margin-left: 310px;
}

.mgr-31 {
  margin-right: 310px;
}

.mgt-31 {
  margin-top: 310px;
}

.mgb-31 {
  margin-bottom: 310px;
}

.mgx-31 {
  margin: 31%;
}

.mgxl-31 {
  margin-left: 31%;
}

.mgxr-31 {
  margin-right: 31%;
}

.mgxt-31 {
  margin-top: 31%;
}

.mgxb-31 {
  margin-bottom: 31%;
}

.mg-32 {
  margin: 320px;
}

.mgl-32 {
  margin-left: 320px;
}

.mgr-32 {
  margin-right: 320px;
}

.mgt-32 {
  margin-top: 320px;
}

.mgb-32 {
  margin-bottom: 320px;
}

.mgx-32 {
  margin: 32%;
}

.mgxl-32 {
  margin-left: 32%;
}

.mgxr-32 {
  margin-right: 32%;
}

.mgxt-32 {
  margin-top: 32%;
}

.mgxb-32 {
  margin-bottom: 32%;
}

.mg-33 {
  margin: 330px;
}

.mgl-33 {
  margin-left: 330px;
}

.mgr-33 {
  margin-right: 330px;
}

.mgt-33 {
  margin-top: 330px;
}

.mgb-33 {
  margin-bottom: 330px;
}

.mgx-33 {
  margin: 33%;
}

.mgxl-33 {
  margin-left: 33%;
}

.mgxr-33 {
  margin-right: 33%;
}

.mgxt-33 {
  margin-top: 33%;
}

.mgxb-33 {
  margin-bottom: 33%;
}

.mg-34 {
  margin: 340px;
}

.mgl-34 {
  margin-left: 340px;
}

.mgr-34 {
  margin-right: 340px;
}

.mgt-34 {
  margin-top: 340px;
}

.mgb-34 {
  margin-bottom: 340px;
}

.mgx-34 {
  margin: 34%;
}

.mgxl-34 {
  margin-left: 34%;
}

.mgxr-34 {
  margin-right: 34%;
}

.mgxt-34 {
  margin-top: 34%;
}

.mgxb-34 {
  margin-bottom: 34%;
}

.mg-35 {
  margin: 350px;
}

.mgl-35 {
  margin-left: 350px;
}

.mgr-35 {
  margin-right: 350px;
}

.mgt-35 {
  margin-top: 350px;
}

.mgb-35 {
  margin-bottom: 350px;
}

.mgx-35 {
  margin: 35%;
}

.mgxl-35 {
  margin-left: 35%;
}

.mgxr-35 {
  margin-right: 35%;
}

.mgxt-35 {
  margin-top: 35%;
}

.mgxb-35 {
  margin-bottom: 35%;
}

.mg-36 {
  margin: 360px;
}

.mgl-36 {
  margin-left: 360px;
}

.mgr-36 {
  margin-right: 360px;
}

.mgt-36 {
  margin-top: 360px;
}

.mgb-36 {
  margin-bottom: 360px;
}

.mgx-36 {
  margin: 36%;
}

.mgxl-36 {
  margin-left: 36%;
}

.mgxr-36 {
  margin-right: 36%;
}

.mgxt-36 {
  margin-top: 36%;
}

.mgxb-36 {
  margin-bottom: 36%;
}

.mg-37 {
  margin: 370px;
}

.mgl-37 {
  margin-left: 370px;
}

.mgr-37 {
  margin-right: 370px;
}

.mgt-37 {
  margin-top: 370px;
}

.mgb-37 {
  margin-bottom: 370px;
}

.mgx-37 {
  margin: 37%;
}

.mgxl-37 {
  margin-left: 37%;
}

.mgxr-37 {
  margin-right: 37%;
}

.mgxt-37 {
  margin-top: 37%;
}

.mgxb-37 {
  margin-bottom: 37%;
}

.mg-38 {
  margin: 380px;
}

.mgl-38 {
  margin-left: 380px;
}

.mgr-38 {
  margin-right: 380px;
}

.mgt-38 {
  margin-top: 380px;
}

.mgb-38 {
  margin-bottom: 380px;
}

.mgx-38 {
  margin: 38%;
}

.mgxl-38 {
  margin-left: 38%;
}

.mgxr-38 {
  margin-right: 38%;
}

.mgxt-38 {
  margin-top: 38%;
}

.mgxb-38 {
  margin-bottom: 38%;
}

.mg-39 {
  margin: 390px;
}

.mgl-39 {
  margin-left: 390px;
}

.mgr-39 {
  margin-right: 390px;
}

.mgt-39 {
  margin-top: 390px;
}

.mgb-39 {
  margin-bottom: 390px;
}

.mgx-39 {
  margin: 39%;
}

.mgxl-39 {
  margin-left: 39%;
}

.mgxr-39 {
  margin-right: 39%;
}

.mgxt-39 {
  margin-top: 39%;
}

.mgxb-39 {
  margin-bottom: 39%;
}

.mg-40 {
  margin: 400px;
}

.mgl-40 {
  margin-left: 400px;
}

.mgr-40 {
  margin-right: 400px;
}

.mgt-40 {
  margin-top: 400px;
}

.mgb-40 {
  margin-bottom: 400px;
}

.mgx-40 {
  margin: 40%;
}

.mgxl-40 {
  margin-left: 40%;
}

.mgxr-40 {
  margin-right: 40%;
}

.mgxt-40 {
  margin-top: 40%;
}

.mgxb-40 {
  margin-bottom: 40%;
}

.mg-41 {
  margin: 410px;
}

.mgl-41 {
  margin-left: 410px;
}

.mgr-41 {
  margin-right: 410px;
}

.mgt-41 {
  margin-top: 410px;
}

.mgb-41 {
  margin-bottom: 410px;
}

.mgx-41 {
  margin: 41%;
}

.mgxl-41 {
  margin-left: 41%;
}

.mgxr-41 {
  margin-right: 41%;
}

.mgxt-41 {
  margin-top: 41%;
}

.mgxb-41 {
  margin-bottom: 41%;
}

.mg-42 {
  margin: 420px;
}

.mgl-42 {
  margin-left: 420px;
}

.mgr-42 {
  margin-right: 420px;
}

.mgt-42 {
  margin-top: 420px;
}

.mgb-42 {
  margin-bottom: 420px;
}

.mgx-42 {
  margin: 42%;
}

.mgxl-42 {
  margin-left: 42%;
}

.mgxr-42 {
  margin-right: 42%;
}

.mgxt-42 {
  margin-top: 42%;
}

.mgxb-42 {
  margin-bottom: 42%;
}

.mg-43 {
  margin: 430px;
}

.mgl-43 {
  margin-left: 430px;
}

.mgr-43 {
  margin-right: 430px;
}

.mgt-43 {
  margin-top: 430px;
}

.mgb-43 {
  margin-bottom: 430px;
}

.mgx-43 {
  margin: 43%;
}

.mgxl-43 {
  margin-left: 43%;
}

.mgxr-43 {
  margin-right: 43%;
}

.mgxt-43 {
  margin-top: 43%;
}

.mgxb-43 {
  margin-bottom: 43%;
}

.mg-44 {
  margin: 440px;
}

.mgl-44 {
  margin-left: 440px;
}

.mgr-44 {
  margin-right: 440px;
}

.mgt-44 {
  margin-top: 440px;
}

.mgb-44 {
  margin-bottom: 440px;
}

.mgx-44 {
  margin: 44%;
}

.mgxl-44 {
  margin-left: 44%;
}

.mgxr-44 {
  margin-right: 44%;
}

.mgxt-44 {
  margin-top: 44%;
}

.mgxb-44 {
  margin-bottom: 44%;
}

.mg-45 {
  margin: 450px;
}

.mgl-45 {
  margin-left: 450px;
}

.mgr-45 {
  margin-right: 450px;
}

.mgt-45 {
  margin-top: 450px;
}

.mgb-45 {
  margin-bottom: 450px;
}

.mgx-45 {
  margin: 45%;
}

.mgxl-45 {
  margin-left: 45%;
}

.mgxr-45 {
  margin-right: 45%;
}

.mgxt-45 {
  margin-top: 45%;
}

.mgxb-45 {
  margin-bottom: 45%;
}

.mg-46 {
  margin: 460px;
}

.mgl-46 {
  margin-left: 460px;
}

.mgr-46 {
  margin-right: 460px;
}

.mgt-46 {
  margin-top: 460px;
}

.mgb-46 {
  margin-bottom: 460px;
}

.mgx-46 {
  margin: 46%;
}

.mgxl-46 {
  margin-left: 46%;
}

.mgxr-46 {
  margin-right: 46%;
}

.mgxt-46 {
  margin-top: 46%;
}

.mgxb-46 {
  margin-bottom: 46%;
}

.mg-47 {
  margin: 470px;
}

.mgl-47 {
  margin-left: 470px;
}

.mgr-47 {
  margin-right: 470px;
}

.mgt-47 {
  margin-top: 470px;
}

.mgb-47 {
  margin-bottom: 470px;
}

.mgx-47 {
  margin: 47%;
}

.mgxl-47 {
  margin-left: 47%;
}

.mgxr-47 {
  margin-right: 47%;
}

.mgxt-47 {
  margin-top: 47%;
}

.mgxb-47 {
  margin-bottom: 47%;
}

.mg-48 {
  margin: 480px;
}

.mgl-48 {
  margin-left: 480px;
}

.mgr-48 {
  margin-right: 480px;
}

.mgt-48 {
  margin-top: 480px;
}

.mgb-48 {
  margin-bottom: 480px;
}

.mgx-48 {
  margin: 48%;
}

.mgxl-48 {
  margin-left: 48%;
}

.mgxr-48 {
  margin-right: 48%;
}

.mgxt-48 {
  margin-top: 48%;
}

.mgxb-48 {
  margin-bottom: 48%;
}

.mg-49 {
  margin: 490px;
}

.mgl-49 {
  margin-left: 490px;
}

.mgr-49 {
  margin-right: 490px;
}

.mgt-49 {
  margin-top: 490px;
}

.mgb-49 {
  margin-bottom: 490px;
}

.mgx-49 {
  margin: 49%;
}

.mgxl-49 {
  margin-left: 49%;
}

.mgxr-49 {
  margin-right: 49%;
}

.mgxt-49 {
  margin-top: 49%;
}

.mgxb-49 {
  margin-bottom: 49%;
}

.mg-50 {
  margin: 500px;
}

.mgl-50 {
  margin-left: 500px;
}

.mgr-50 {
  margin-right: 500px;
}

.mgt-50 {
  margin-top: 500px;
}

.mgb-50 {
  margin-bottom: 500px;
}

.mgx-50 {
  margin: 50%;
}

.mgxl-50 {
  margin-left: 50%;
}

.mgxr-50 {
  margin-right: 50%;
}

.mgxt-50 {
  margin-top: 50%;
}

.mgxb-50 {
  margin-bottom: 50%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid black;
  text-transform: uppercase;
}

.btn-black {
  background: #000000;
}
.btn-black:hover {
  background: black;
  transition: all 0.3s ease;
}
.btn-black:active {
  background: black;
}

.btn-transparent {
  background: transparent;
  color: black;
}
.btn-transparent:hover {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.btn-transparent:active {
  background: rgba(0, 0, 0, 0);
}

header {
  height: 90px;
  background-color: #101010;
}
header .header-top {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top ul.menu-header-top {
  width: 38%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-top ul.menu-header-top li span i {
  color: #009cff;
}
header .header-top ul.menu-header-top li a {
  color: #989898;
}
header .header-top ul.menu-header-top li:hover a {
  text-decoration: underline;
  color: white;
}
header .nav-bar {
  width: 100%;
  height: calc(90px - 35px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .nav-bar .logo {
  width: 10%;
}
header .nav-bar ul.menu-nav {
  width: 90%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header .nav-bar ul.menu-nav li {
  flex-basis: calc(100% / 8 - 10px);
  height: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-bar ul.menu-nav li a {
  text-transform: capitalize;
  color: #ffffff;
}
header .nav-bar ul.menu-nav li:hover {
  background: #ffffff;
  cursor: pointer;
}
header .nav-bar ul.menu-nav li:hover a {
  color: #000000;
}
header .nav-bar ul.menu-nav li.parent-dropdown {
  position: relative;
}
header .nav-bar ul.menu-nav li.parent-dropdown i {
  color: #989898;
  margin-left: 8px;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  padding: 5%;
  position: absolute;
  background-color: #ffffff;
  top: 55px;
  left: 0;
  display: none;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #989898;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover {
  background-color: #e8e8e8;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #000000;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li ul.sub-drop {
  padding: 5%;
  position: absolute;
  width: 300px;
  left: 200px;
  top: 0;
  background-color: #ffffff;
  display: none;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover ul.sub-drop {
  display: block;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover ul.sub-drop li h3 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
header .nav-bar ul.menu-nav li.parent-dropdown:hover ul.with-dropdown {
  display: block;
}

#jumbo {
  width: 100%;
  height: 480px;
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
#jumbo .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#jumbo .container .title-jumbo {
  width: 48%;
  height: 70%;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#jumbo .container .title-jumbo img {
  width: 80%;
}
#jumbo .container .title-jumbo .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#jumbo .container .title-jumbo div.purple {
  line-height: 1.5;
  font-size: 16px;
  color: #cb1fb6;
}
#jumbo .container .title-jumbo div.purple p {
  font-style: oblique;
}

main {
  background-color: #e8e8e8;
  width: 100%;
}
main h2 {
  text-align: center;
}
main #software {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software li {
  height: 100%;
  flex-basis: calc(100% / 3 );
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software li .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main ul.menu-software li .container p {
  font-size: 1rem;
}
main ul.menu-software li img {
  width: 100%;
}
main ul.menu-software li a {
  color: #009cff;
}
main section#offert {
  width: 100%;
  height: 800px;
}
main section#offert .container {
  background-color: cornflowerblue;
  height: 90%;
}
main section#offert .container ul.menu-offert {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
main section#offert .container ul.menu-offert li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main section#offert .container ul.menu-offert li:nth-child(1) {
  background-color: #3c1567;
}
main section#offert .container ul.menu-offert li:nth-child(2) {
  background-image: url("../img/wacom-painter.jpg");
  background-position: center;
  background-size: cover;
}
main section#offert .container ul.menu-offert li:nth-child(3) {
  background-image: url("../img/painter-master.jpg");
  background-position: center;
  background-size: cover;
}
main section#offert .container ul.menu-offert li:nth-child(4) {
  background: #3c3c3c;
}
main section#offert .container ul.menu-offert li:nth-child(5) {
  background: #009cff;
}
main section#offert .container ul.menu-offert li:nth-child(6) {
  background-image: url("../img/business-education.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
  background: #e8e8e8;
}
footer .container ul.menu-foot-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .container ul.menu-foot-top li {
  flex-basis: calc(100% / 4 - 20px);
  padding: 0 10px;
}
footer .container ul.menu-foot-top li ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .container ul.menu-foot-top li ul li {
  line-height: 1.6;
}
footer .container ul.social {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
footer .container ul.social li {
  padding: 0 10px;
}
footer .container ul.social li a i {
  font-size: 1.5rem;
}
footer .foot-bottom {
  height: 100px;
  background: #1e1e1e;
}
footer .foot-bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot-bottom .container .sponsored {
  width: 30%;
  height: 100%;
}
footer .foot-bottom .container .sponsored ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
footer .foot-bottom .container .copy {
  width: 50%;
  height: 100%;
}
footer .foot-bottom .container .copy ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #989898;
}
footer .foot-bottom .container .copy ul li:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
}
