@charset "UTF-8";
.pd-1 {
  padding: 10px;
}

.pdl-1 {
  padding-left: 10px;
}

.pdr-1 {
  padding-right: 10px;
}

.pdt-1 {
  padding-top: 10px;
}

.pdb-1 {
  padding-bottom: 10px;
}

.mg-1 {
  margin: 10px;
}

.mgl-1 {
  margin-left: 10px;
}

.mgr-1 {
  margin-right: 10px;
}

.mgt-1 {
  margin-top: 10px;
}

.mgb-1 {
  margin-bottom: 10px;
}

.pd-2 {
  padding: 20px;
}

.pdl-2 {
  padding-left: 20px;
}

.pdr-2 {
  padding-right: 20px;
}

.pdt-2 {
  padding-top: 20px;
}

.pdb-2 {
  padding-bottom: 20px;
}

.mg-2 {
  margin: 20px;
}

.mgl-2 {
  margin-left: 20px;
}

.mgr-2 {
  margin-right: 20px;
}

.mgt-2 {
  margin-top: 20px;
}

.mgb-2 {
  margin-bottom: 20px;
}

.pdx-1 {
  padding: 1%;
}

.pdxl-1 {
  padding-left: 1%;
}

.pdxr-1 {
  padding-right: 1%;
}

.pdxt-1 {
  padding-top: 1%;
}

.pdxb-1 {
  padding-bottom: 1%;
}

.mgx-1 {
  margin: 1%;
}

.mgxl-1 {
  margin-left: 1%;
}

.mgxr-1 {
  margin-right: 1%;
}

.mgxt-1 {
  margin-top: 1%;
}

.mgxb-1 {
  margin-bottom: 1%;
}

.pdx-2 {
  padding: 2%;
}

.pdxl-2 {
  padding-left: 2%;
}

.pdxr-2 {
  padding-right: 2%;
}

.pdxt-2 {
  padding-top: 2%;
}

.pdxb-2 {
  padding-bottom: 2%;
}

.mgx-2 {
  margin: 2%;
}

.mgxl-2 {
  margin-left: 2%;
}

.mgxr-2 {
  margin-right: 2%;
}

.mgxt-2 {
  margin-top: 2%;
}

.mgxb-2 {
  margin-bottom: 2%;
}

.pdx-3 {
  padding: 3%;
}

.pdxl-3 {
  padding-left: 3%;
}

.pdxr-3 {
  padding-right: 3%;
}

.pdxt-3 {
  padding-top: 3%;
}

.pdxb-3 {
  padding-bottom: 3%;
}

.mgx-3 {
  margin: 3%;
}

.mgxl-3 {
  margin-left: 3%;
}

.mgxr-3 {
  margin-right: 3%;
}

.mgxt-3 {
  margin-top: 3%;
}

.mgxb-3 {
  margin-bottom: 3%;
}

.pdx-4 {
  padding: 4%;
}

.pdxl-4 {
  padding-left: 4%;
}

.pdxr-4 {
  padding-right: 4%;
}

.pdxt-4 {
  padding-top: 4%;
}

.pdxb-4 {
  padding-bottom: 4%;
}

.mgx-4 {
  margin: 4%;
}

.mgxl-4 {
  margin-left: 4%;
}

.mgxr-4 {
  margin-right: 4%;
}

.mgxt-4 {
  margin-top: 4%;
}

.mgxb-4 {
  margin-bottom: 4%;
}

.pdx-5 {
  padding: 5%;
}

.pdxl-5 {
  padding-left: 5%;
}

.pdxr-5 {
  padding-right: 5%;
}

.pdxt-5 {
  padding-top: 5%;
}

.pdxb-5 {
  padding-bottom: 5%;
}

.mgx-5 {
  margin: 5%;
}

.mgxl-5 {
  margin-left: 5%;
}

.mgxr-5 {
  margin-right: 5%;
}

.mgxt-5 {
  margin-top: 5%;
}

.mgxb-5 {
  margin-bottom: 5%;
}

.pdx-6 {
  padding: 6%;
}

.pdxl-6 {
  padding-left: 6%;
}

.pdxr-6 {
  padding-right: 6%;
}

.pdxt-6 {
  padding-top: 6%;
}

.pdxb-6 {
  padding-bottom: 6%;
}

.mgx-6 {
  margin: 6%;
}

.mgxl-6 {
  margin-left: 6%;
}

.mgxr-6 {
  margin-right: 6%;
}

.mgxt-6 {
  margin-top: 6%;
}

.mgxb-6 {
  margin-bottom: 6%;
}

.pdx-7 {
  padding: 7%;
}

.pdxl-7 {
  padding-left: 7%;
}

.pdxr-7 {
  padding-right: 7%;
}

.pdxt-7 {
  padding-top: 7%;
}

.pdxb-7 {
  padding-bottom: 7%;
}

.mgx-7 {
  margin: 7%;
}

.mgxl-7 {
  margin-left: 7%;
}

.mgxr-7 {
  margin-right: 7%;
}

.mgxt-7 {
  margin-top: 7%;
}

.mgxb-7 {
  margin-bottom: 7%;
}

.pdx-8 {
  padding: 8%;
}

.pdxl-8 {
  padding-left: 8%;
}

.pdxr-8 {
  padding-right: 8%;
}

.pdxt-8 {
  padding-top: 8%;
}

.pdxb-8 {
  padding-bottom: 8%;
}

.mgx-8 {
  margin: 8%;
}

.mgxl-8 {
  margin-left: 8%;
}

.mgxr-8 {
  margin-right: 8%;
}

.mgxt-8 {
  margin-top: 8%;
}

.mgxb-8 {
  margin-bottom: 8%;
}

.pdx-9 {
  padding: 9%;
}

.pdxl-9 {
  padding-left: 9%;
}

.pdxr-9 {
  padding-right: 9%;
}

.pdxt-9 {
  padding-top: 9%;
}

.pdxb-9 {
  padding-bottom: 9%;
}

.mgx-9 {
  margin: 9%;
}

.mgxl-9 {
  margin-left: 9%;
}

.mgxr-9 {
  margin-right: 9%;
}

.mgxt-9 {
  margin-top: 9%;
}

.mgxb-9 {
  margin-bottom: 9%;
}

.pdx-10 {
  padding: 10%;
}

.pdxl-10 {
  padding-left: 10%;
}

.pdxr-10 {
  padding-right: 10%;
}

.pdxt-10 {
  padding-top: 10%;
}

.pdxb-10 {
  padding-bottom: 10%;
}

.mgx-10 {
  margin: 10%;
}

.mgxl-10 {
  margin-left: 10%;
}

.mgxr-10 {
  margin-right: 10%;
}

.mgxt-10 {
  margin-top: 10%;
}

.mgxb-10 {
  margin-bottom: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  border: 2px solid black;
  text-transform: uppercase;
}

.btn-black {
  background: #000000;
}
.btn-black:hover {
  background: black;
  transition: all 0.3s ease;
}
.btn-black:active {
  background: black;
}

.btn-transparent {
  background: transparent;
  color: #000000;
}
.btn-transparent:hover {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}
.btn-transparent:active {
  background: rgba(0, 0, 0, 0);
}

.btn-white {
  background: #ffffff;
  color: #333333;
  border: 0;
}
.btn-white:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
.btn-white:active {
  background: #bfbfbf;
}

header {
  height: 90px;
  background-color: #101010;
}
header .header-top {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top ul.menu-header-top {
  width: 38%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-top ul.menu-header-top li span i {
  color: #009cff;
}
header .header-top ul.menu-header-top li a {
  color: #989898;
}
header .header-top ul.menu-header-top li:hover a {
  text-decoration: underline;
  color: white;
}
header .nav-bar {
  width: 100%;
  height: calc(90px - 35px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .nav-bar .logo {
  width: 10%;
}
header .nav-bar ul.menu-nav {
  width: 90%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header .nav-bar ul.menu-nav li {
  flex-basis: calc(100% / 8 - 10px);
  height: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav-bar ul.menu-nav li a {
  text-transform: capitalize;
  color: #ffffff;
}
header .nav-bar ul.menu-nav li:hover {
  background: #ffffff;
  cursor: pointer;
}
header .nav-bar ul.menu-nav li:hover a {
  color: #000000;
}
header .nav-bar ul.menu-nav li.parent-dropdown {
  position: relative;
}
header .nav-bar ul.menu-nav li.parent-dropdown i {
  color: #989898;
  margin-left: 8px;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 200px;
  padding: 5%;
  position: absolute;
  background-color: #ffffff;
  top: 55px;
  left: 0;
  display: none;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #989898;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover {
  background-color: #e8e8e8;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "";
  color: #000000;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li ul.sub-drop {
  padding: 5%;
  position: absolute;
  width: 300px;
  left: 200px;
  top: 0;
  background-color: #ffffff;
  display: none;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover ul.sub-drop {
  display: block;
}
header .nav-bar ul.menu-nav li.parent-dropdown ul.with-dropdown li:hover ul.sub-drop li h3 {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
}
header .nav-bar ul.menu-nav li.parent-dropdown:hover ul.with-dropdown {
  display: block;
}

#jumbo {
  width: 100%;
  height: 480px;
  background-image: url("../img/bg-painter-home.jpg");
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
#jumbo .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#jumbo .container .title-jumbo {
  width: 48%;
  height: 70%;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
#jumbo .container .title-jumbo img {
  width: 80%;
}
#jumbo .container .title-jumbo .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
#jumbo .container .title-jumbo div.purple {
  line-height: 1.5;
  font-size: 16px;
  color: #cb1fb6;
}
#jumbo .container .title-jumbo div.purple p {
  font-style: oblique;
}

main {
  background-color: #e8e8e8;
  width: 100%;
}
main h2 {
  text-align: center;
}
main #software {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software li {
  height: 100%;
  flex-basis: calc(100% / 3 );
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main ul.menu-software li .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main ul.menu-software li .container p {
  font-size: 1rem;
}
main ul.menu-software li img {
  width: 100%;
}
main ul.menu-software li a {
  color: #009cff;
}
main section#offert {
  width: 100%;
}
main section#offert .container {
  background-color: cornflowerblue;
  height: 90%;
}
main section#offert .container ul.menu-offert {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex;
  flex-wrap: wrap;
  color: #ffffff;
}
main section#offert .container ul.menu-offert li {
  height: 325px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
main section#offert .container ul.menu-offert li h2 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
}
main section#offert .container ul.menu-offert li p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}
main section#offert .container ul.menu-offert li:nth-child(1) {
  background-color: #3c1567;
}
main section#offert .container ul.menu-offert li:nth-child(2) {
  background-image: url("../img/wacom-painter.jpg");
  background-position: center;
  background-size: cover;
}
main section#offert .container ul.menu-offert li:nth-child(3) {
  background-image: url("../img/painter-master.jpg");
  background-position: center;
  background-size: cover;
}
main section#offert .container ul.menu-offert li:nth-child(4) {
  background: #3c3c3c;
}
main section#offert .container ul.menu-offert li:nth-child(5) {
  background: #009cff;
}
main section#offert .container ul.menu-offert li:nth-child(6) {
  background-image: url("../img/business-education.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  width: 100%;
  background: #e8e8e8;
}
footer .container ul.menu-foot-top {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .container ul.menu-foot-top li {
  flex-basis: calc(100% / 4 - 20px);
  padding: 0 10px;
}
footer .container ul.menu-foot-top li ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .container ul.menu-foot-top li ul li {
  line-height: 1.6;
  color: #333333;
}
footer .container ul.menu-foot-top li ul li:hover:not(:first-child) {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
footer .container ul.social {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
footer .container ul.social li {
  padding: 0 10px;
}
footer .container ul.social li a i {
  font-size: 1.5rem;
}
footer .foot-bottom {
  height: 100px;
  background: #1e1e1e;
}
footer .foot-bottom .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .foot-bottom .container .sponsored {
  width: 30%;
  height: 100%;
}
footer .foot-bottom .container .sponsored ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
footer .foot-bottom .container .copy {
  width: 50%;
  height: 100%;
}
footer .foot-bottom .container .copy ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #989898;
}
footer .foot-bottom .container .copy ul li:hover {
  cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
}
