*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 85%;
    margin: 0 auto;
}

body{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


