footer{
    width: 100%;
    background: red;
    & .container{
        & ul.menu-foot-top{
            width: 100%;
            height: 100%;
            @include flex();
            & li{
                flex-basis: calc(100% / 4 - 20px);
                padding: 0 10px;
            }
        }
    }
    & .foot-bottom{
        height: 100px;
        background: $black;

    }
}