$height_header: 90px;

header{
    height: $height_header;
    background-color: $bcg_header;
    // @include cont;
    
    .header-top{
        // debug
        // background-color: red;
        // debug
        width: 100%;
        height: 35px;
        @include flex(flex-end);
        & ul{
            width: 38%;
            @include flex(space-around, center);
            & li{
                & span i{
                    margin-right: 10px;
                    color: $link;
                }
                & a{
                    color: $grey;
                }
            }
        }
    }

    .nav-bar{
        width: 100%;
        height: calc(#{$height_header} - 35px);
        // debug
        // debug
        @include flex(flex-start, center);

        //debug
        //debug
        & .logo{
            width: 10%;
            // debug
            padding-bottom: 1%;
        }
        & ul{
            width: 90%;
            height: 100%;
            padding-left: 2%;
            @include flex(flex-start, flex-end);
            & li{
                flex-basis: calc(100% / 8 - 10px);
                height: 100%;
                padding-right: 10px;
                border: 1px solid white;
                @include flex(center);
                a{
                    text-transform: capitalize;
                    color: $white;
                }
                &:hover{
                    background: $white;
                    cursor: pointer;
                    a{
                        color: $black;
                    }
                }
                
            }
        }


    }
}

    // debug


    
