$height_header: 90px;

header{
    height: $height_header;
    background-color: $bcg_header;
    // @include cont;
    
    .header-top{
        // debug
        // background-color: red;
        // debug
        width: 100%;
        height: 35px;
        @include flex(flex-end);
        & ul.menu-header-top{
            width: 38%;
            @include flex(space-around, center);
            & li{
                & span i{
                    margin-right: 10px;
                    color: $link;
                }
                & a{
                    color: $grey;
                }
            }
        }
    }

    .nav-bar{
        width: 100%;
        height: calc(#{$height_header} - 35px);
        // debug
        // debug
        @include flex(flex-start, center);

        //debug
        //debug
        & .logo{
            width: 10%;
            // debug
            padding-bottom: 1%;
        }
        & ul.menu-nav{
            width: 90%;
            height: 100%;
            padding-left: 2%;
            @include flex(flex-start, flex-end);
            & li{
                flex-basis: calc(100% / 8 - 10px);
                height: 100%;
                padding-right: 10px;
                @include flex(center);
                a{
                    text-transform: capitalize;
                    color: $white;
                }
                &:hover{
                    background: $white;
                    cursor: pointer;
                    a{
                        color: $black;
                    }
                }
                
            }
            & li.parent-dropdown{
                position: relative;
                & i{
                    color: $grey;
                }
                & ul.with-dropdown{
                    @include flex-c(flex-start, flex-start);
                    padding: 10px;
                    width: 200px;
                    position: absolute;
                    background-color: red;
                    top: 55px;
                    left: 0;
                    display: none;
                    & li{
                        @include flex(flex-start);
                        width: 100%;
                        padding: 10px 0;

                    }
                }

                &:hover ul.with-dropdown{
                    display: block;
                }
            }
        }


    }
}

    // debug


    
