@mixin cont {
        .container{
        max-width: 85%;
        margin: 0 auto;
    }
}


@mixin flex($just:flex-start, $align:center) {
    display: flex;
    justify-content: $just;
    align-items: $align;
}

@mixin flex-c($just:center, $align:center){
    display: flex;
    flex-direction: column;
    justify-content: $just;
    align-items: $align;
}

@mixin btn($pd, $bcg, $color, $font){
    @include flex(center, center);
    border: 0;
    background-color: $bcg;
    font-size: $font;
    padding: $pd;
    color: $color;
    text-transform: uppercase;
}