// container
@mixin cont {
        .container{
        max-width: 85%;
        margin: 0 auto;
    }
}

//flex
@mixin flex($just:flex-start, $align:center) {
    display: flex;
    justify-content: $just;
    align-items: $align;
}

@mixin flex-c($just:center, $align:center){
    display: flex;
    flex-direction: column;
    justify-content: $just;
    align-items: $align;
}


//img for bcg-img
@mixin center-img {
    background-position: center;
    background-size: cover;
}