//pallettes colors
$black: #000000;
$white: #ffffff;
$link: #009cff;
$bcg_header: #101010;
$bcg_main: #e8e8e8;
$grey: #989898;
$black_main: #333333;
$purple: #cb1fb6;
$violet: #3c1567;
$dark_grey: #3c3c3c;
//padding and margin



//typography